
    {% extends 'base.html' %}

    {% block content %}
        <div class="col-md-6">
            <br>
            <a href="{% url 'staff:list_employee' %}"><button type="button" class="btn btn-primary" style="float: left">All Employees</button></a>
            <br><br><br>
            <div class="content-panel">
                <div class="panel-body">
                <form action="{% url 'staff:update_employee' pk=object.id %}" method="post" class="addemployee" >
                    {% csrf_token %}
                        <br>
                    <label><strong>Designation</strong></label>
                    <input type="text" class="form-control" name="designation" id="designation" value="{{ object.designation }}">
                    <span class="designation" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Name</strong></label>
                    <input type="text" class="form-control" name="name" value="{{ object.name }}" id="name">
                    <span class="name" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Father Name</strong></label>
                    <input type="text" class="form-control" name="father_name" value="{{ object.father_name }}" id="fathername">
                    <span class="fathername" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Cnic</strong></label>
                    <input title="text" class="form-control daewoo_name" name="cnic" value="{{ object.cnic }}" id="cnic">
                    <span class="cnic" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Address</strong></label>
                    <input type="text" class="form-control" name="address" value="{{ object.address }}" id="address">
                    <span class="address" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>mobile</strong></label>
                    <input type="text" class="form-control" name="mobile" value="{{ object.mobile }}" id="mobile">
                    <span class="mobile" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Joinning Date</strong></label>
                    <input type="date" class="form-control" name="joinning_date" value="{{ object.joinning_date }}" id="date">
                    <span class="date" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>Salary</strong></label>
                    <input type="text" class="form-control" name="salary" value="{{ object.salary }}" id="salary">
                    <span class="salary" style="color: red; display: none" >This Field is Requried</span><br>
                        <br>
                        <input type="button" value="Update" class="btn btn-primary right" id="save">
                </form>
                </div>
            </div>
        </div>
    {% endblock %}
{% block scripts %}
{{ block.super }}

<script>
 $(document).ready(function(){
 $('#save').on('click', function () {
                var error = false;

                if ($('#name').val() ==""){
                    $('.name').show();
                    error = true;
                }
                else {
                    $('.name').hide();
                }
                if ($('#fathername').val() == ""){
                    $('.fathername').show();
                    error = true;
                }
                else {
                    $('.fathername').hide();
                }
                if ($('#cnic').val() == ""){
                    $('.cnic').show();
                    error = true;
                }
                else {
                    $('.cnic').hide();
                }
                if ($('#mobile').val() == ""){
                    $('.mobile').show();
                    error = true;
                }
                else {
                    $('.mobile').hide();

                }
                if ($('#address').val() == ""){
                    $('.address').show();
                    error = true;
                }
                else {
                    $('.address').hide();

                }
                if ($('#date').val() == ""){
                    $('.date').show();
                    error = true;
                }
                else {
                    $('.date').hide();

                }
                if ($('#salary').val() == ""){
                    $('.salary').show();
                    error = true;
                }
                else {
                    $('.salary').hide();

                }
                if ($('#designation').val() == ""){
                    $('.designation').show();
                    error = true;
                }
                else {
                    $('.designation').hide();

                }
                if (error == false)
                {
                    $('.addemployee').submit();
                }

            });
             $('#mobile').keyup(function () {
                $('.mobile').hide();
                checkDec(this);
            });
            function checkDec(el){
                var ex = /^[0-9]+\.?[0-9]*$/;
                if(ex.test(el.value)==false){
                    el.value = el.value.substring(0,el.value.length - 1);
                }
            }
             $('#cnic').keyup(function () {
                $('.cnic').hide();
                checkDec(this);
            });
            function checkDec(el){
                var ex = /^[0-9]+\.?[0-9]*$/;
                if(ex.test(el.value)==false){
                    el.value = el.value.substring(0,el.value.length - 1);
                }
            }
             $('#salary').keyup(function () {
                $('.salary').hide();
                checkDec(this);
            });
            function checkDec(el){
                var ex = /^[0-9]+\.?[0-9]*$/;
                if(ex.test(el.value)==false){
                    el.value = el.value.substring(0,el.value.length - 1);
                }
            }
             $('#name').keyup(function () {
                $('.name').hide();
            })
             $('#fathername').keyup(function () {
                $('.fathername').hide();
            })
             $('#cnic').keyup(function () {
                $('.cnic').hide();
            })
             $('#address').keyup(function () {
                $('.address').hide();
            })
             $('#mobile').keyup(function () {
                $('.mobile').hide();
            })
             $('#salary').keyup(function () {
                $('.salary').hide();
            })
             $('#date').click(function () {
                $('.date').hide();
            })
             $('#designation').keyup(function () {
                $('.designation').hide();
            })
             })
</script>

{% endblock %}