{% extends 'base.html' %}
{%block menu_route%}active{%endblock%}
{% block submenu_add_route%}active{%endblock%}

{% block content %}
    <div class="col-md-6">
        <br>
        <a href="{% url 'route:list_route' %}"><button type="button" class="btn btn-primary" style="float: left">All Routes</button></a>
        <br><br><br>
        <div class="content-panel">
            <h3 class="text-center">New Route</h3>
            <div class="panel-body">
                <form action="{% url 'route:add_route' %}" method="post" class="addroute" >
                    {% csrf_token %}
                    <label><strong>Name.</strong></label>
                    <input type="text" class="form-control" id="name" name="name">
                    <span class="name" style="color: red; display: none" >This Field is Requried</span><br>
                    <label><strong>Via.</strong></label>
                    <input type="text" class="form-control" id="via" name="via">
                    <span class="via" style="color: red; display: none" >This Field is Requried</span>
                    <br>
                    <label><strong>To</strong></label>
                    <input title="text" class="form-control daewoo_name" id="to" name="to">
                    <span class="to" style="color: red; display: none" >This Field is Requried</span><br>
                    <input type="button" class="btn btn-primary right" id="save" value="Add Route">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{{ block.super }}

<script>
 $(document).ready(function(){
 $('#save').on('click', function () {
                var error = false;

                if ($('#name').val() == ""){
                    $('.name').show();
                    error = true;
                }
                else {
                    $('.name').hide();
                }
                if ($('#via').val() == ""){
                    $('.via').show();
                    error = true;
                }
                else {
                    $('.via').hide();
                }
                if ($('#to').val() == ""){
                    $('.to').show();
                    error = true;
                }
                else {
                    $('.to').hide();
                }

                if (error == false)
                {
                    $('.addroute').submit();
                }

            });
             $('#name').keyup(function () {
                $('.name').hide();
                checkDec(this);
            })
             $('#via').keyup(function () {
                $('.via').hide();
                checkDec(this);
            })
            $('#to').keyup(function () {
                $('.to').hide();
                checkDec(this);
            })
             })
</script>

{% endblock %}