{% extends 'base.html' %}
{% block menu_reports %}active{% endblock %}
{% block submenu_reports_monthly %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <br>
            <div class="content-panel table-responsive">
                <h2 class="text-center">Monthly Reports</h2>
                <hr>
                <table class="table table-striped table-advance table-hover">
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th><i class="fa fa-user"></i> Date </th>
                        <th><i class="fa fa-male"></i> Daewoo (2x1) </th>
                        <th><i class="fa fa-info-circle"></i> Daewoo(2x2)</th>
                        <th><i class="fa fa-map-marker"></i> Daewoo (HINI) </th>
                        <th><i class="fa fa-map-marker"></i> Grand Total </th>
                    </tr>
                    </thead>
                    <tbody class="daewoos-table-body">
                    {% if not results %}
                        <tr><td colspan="5" class="text-center">Record Not Found</td></tr>
                    {% endif %}
                    {% for data in results %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{{ data.date }}</a></td>
                            <td>{{ data.total_departure_amount_2x1|floatformat:'-2' }}</td>
                            <td>{{ data.total_departure_amount_2x2|floatformat:'-2' }}</td>
                            <td>{{ data.total_departure_amount_hino|floatformat:'-2' }}</td>
                            <td>{{ data.total_departure_amount|floatformat:'-2' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
