{% extends 'base.html' %}
{%block menu_booking%}active{%endblock%}
{% block submenu_reschedule%}active{%endblock%}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <br>
            <a href="{% url 'booking:create_schedule' %}"><button type="button" class="btn btn-primary">New Schedule</button></a>
            <br><br>
            <div class="content-panel table-responsive">
                <h2 class="text-center">Booking List</h2>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="input-group custom-search-form col-lg-12" style="left: 5px">
                            <input type="text" class="form-control search-daewoo" placeholder="Search...">
                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4"></div>
                </div>

                <div style="float: right; padding: 12px;" class="remove-print-display">
                        <strong>Bus Type:</strong> <span style="color: red">{{ departure_timing.daewoo_type }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong> Destination:</strong> <span style="color: red">{{ departure_timing.destination.name }}</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        <strong> Timing:</strong> <span style="color: red">{{ departure_timing.timing }}</span>&nbsp;&nbsp;&nbsp;&nbsp;

                    </div>


                <table class="table table-striped table-advance table-hover daewoos-table">
                    <thead>
                    <tr>
                        <th>S.No</th>
                        <th><i class="fa fa-bullhorn"></i> Passenger </th>
                        <th><i class="fa fa-question-circle"></i> CNIC </th>
                        <th><i class=" fa fa-bookmark"></i> Mobile </th>
                        <th><i class=" fa fa-edit"></i> Seats </th>
{#                        <th><i class=" fa fa-edit"></i> Departure </th>#}
                        <th><i class=" fa fa-edit"></i> Total Amount </th>
                        <th><i class=" fa fa-bomb"></i> Payment </th>
                        <th><i class=" fa fa-bomb"></i> Booking Date </th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody class="daewoos-table-body">
                    {% if not booking_list %}
                        <tr><td colspan="6" class="text-center">Record Not Found</td></tr>
                    {% endif %}
                    {% for booking in booking_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="#">{% if booking.passenger %}{{ booking.passenger.name }}{% else %}{{ booking.station_reservation.name|title }} ({{ booking.station_reservation.station_name|title }}){% endif %}</a></td>
                            <td>{{ booking.passenger.cnic }}</td>
                            <td>{{ booking.passenger.mobile_no }}</td>
                            <td>{{ booking.seats_no }}</td>
                            <td>{{ booking.total_amount|floatformat }}</td>
                            <td>{% if booking.has_payment %}<i class="fa fa-check-circle" style="color: #439D44"></i>{% else %}<a href="{% url 'booking:make_payment_api' booking_id=booking.id %}"><i class="fa fa-times-circle" onclick="return confirm('Are you sure to make payments')" style="color: #C9312C; cursor: pointer" title="Make Payment"></i></a>{% endif %}</td>
                            <td>{{ booking.booking_date }}</td>
                            <td>
                                <a href="{% url 'booking:booking_ticket' booking_id=booking.id %}"><button class="btn btn-success btn-xs" title="View"><i class="fa fa-eye"></i></button></a>
                                <a href="{% url 'booking:delete_booking' pk=booking.id %}"><button onclick="return confirm('Are you sure you want to DELETE Reservation?')" class="btn btn-danger btn-xs" title="Cancellation"><i class="fa fa-trash-o"></i></button></a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}

<script>

</script>

{% endblock %}