{% extends 'base.html' %}
{%block menu_booking%}active{%endblock%}
{% block submenu_add_booking%}active{%endblock%}
{% block content %}
    <div class="row mt">
        <div class="col-lg-7 col-md-6 col-sm-12 col-lg-offset-1">
            <div class="showback">
                <form  class="booking">
                    <div class="row">
                        <div class="col-md-9 col-md-offset-1">
                            <h3>Get Your Schedule</h3>
                            <div class="form-group">
                                <label>From</label>
                                <select class="form-control">
                                    <option selected>Quetta</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Destination</label>
                                <select class="form-control destination" id="destination">
                                    <option value="">--To--</option>
                                    {% for destination in destinations %}
                                        <option data-id="{{ destination.id }}">{{ destination.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="destination_error" style="color: red; display: none" >This Field is Requried</span>
                            </div>
                            <div class="form-group">
                                <label>Departure Timing</label>
                                <select class="form-control departure_timing" id="departure_timing">
                                    <option value=""></option>
                                </select>
                                <span class="departure_timing_error" style="color: red; display: none" >This Field is Requried</span>
                            </div>
                            <div class="form-group">
                                <label>Station</label>
                                <select class="form-control station" id="station">
                                    <option value="" ></option>
                                </select>
                                <span class="station_error" style="color: red; display: none" >This Field is Requried</span>
                            </div>
                            <div class="form-group">
                                <label>Booking Date</label>
                                <input type="date" class="form-control departure_date" id="departure_date">
                                <span class="departure_date_error" style="color: red; display: none" >This Field is Requried</span>
                            </div>
                            <input type="button" class="btn btn-primary schedule " id="schedule" value="Get Schedule">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $(function () {
            $('.destination').on('change', function () {
                $.post(
                    '{% url "route:departure_timing_api" %}',
                    {'destination': $('.destination').val()},
                    function (result, status) {
                        var departure_timing_data = '<option data-id="0">--Timing--</option>';
                        $.each(result.departure_timings, function(key, result){
                            departure_timing_data += '<option data-id="' + result.id + '">' + result.timing + '</option>';
                        });

                        $('#departure_timing').html(departure_timing_data);
                    }
                )
            });
            $('#departure_timing').on('change', function(){
                $.post(
                    '{% url "route:stations_api" %}',
                    {'destination': $('.destination').val(), 'departure_timing': $(this).find(':selected').data('id')},
                    function (result, status) {

                        var station_data = '<option>--Station--</option>';
                        $.each(result.stations, function(key, result){
                            station_data += '<option data-id="' + result.id + '">' + result.station + '</option>';
                        });
                        $('.station').html(station_data);
                    }
                )
            });

            // Need to be used for the redirection

        });

        $('#schedule').on('click', function () {
            var error = false;

            if ($('#destination').val() == ""){
                $('.destination_error').show();
                error = true;
            }
            else {
                $('.destination_error').hide();
            }
            if ($('#station').val() == ""){
                $('.station_error').show();
                error = true;
            }
            else {
                $('.station_error').hide();
            }
            if ($('#departure_timing').val() == ""){
                $('.departure_timing_error').show();
                error = true;
            }
            else {
                $('.departure_timing_error').hide();
            }
            if ($('#departure_date').val() == ""){
                $('.departure_date_error').show();
                error = true;
            }
            else {
                $('.departure_date_error').hide();
            }
            $('#destination').click(function () {
                $('.destination_error').hide();
            });
            $('#departure_date').click(function () {
                $('.departure_date_error').hide();
            });
            $('#departure_timing').click(function () {
                $('.departure_timing_error').hide();
            });
            $('#station').click(function () {
                $('.station_error').hide();
            });
            if (error == false)
            {
                var destination_id = $('.destination').find(':selected').data('id');
                var station_id = $('.station').find(':selected').data('id');
                var timing_id = $('.departure_timing').find(':selected').data('id');
                var departure_date = $('.departure_date').val();
                window.location.href = '/booking/seat/destination/' + destination_id + '/station/' + station_id +  '/departure/' + timing_id + '/date/' + departure_date + '/';
            } else {
                return;
            }

        });

    </script>
{% endblock %}
