{% extends 'base.html' %}
{% block content %}

    <button type="button" class="btn btn-primary print-invoice-btn mt" onclick="PrintInvoice('print-invoice')">Print Invoice</button><br>
    <div class="print-invoice" id="print-invoice">
        <!--abc---->
        <div class="row mt">
            <div class="col-lg-11 col-md-11 col-sm-12">
                <div class="showback">
                    <div class="  panel-body">
                        <h3>Get Your Schedule</h3>
                        <hr>
                        <div class="row">
                            <form>
                                <!-- Start Autosuggest textbox for hotels/tours -->
                                <div class="col-md-4">
                                    <label>From City</label>
                                    <select class="form-control">
                                        <option>quetta</option>
                                        <option>nuskhi</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>To City</label>
                                    <select class="form-control">
                                        <option>--Select Arrival--</option>
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-md-4 ">
                                    <label>Date</label>
                                    <input type="date" class="form-control">
                                </div>

                                <div class="row mt">
                                    <div class="col-md-3 pull-right">
                                        <a class="btn btn-primary" href="#">Get Schedule</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--sajd-->
        <div class="row mt">
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="showback">
                    <h3>Book a Seat</h3>
                    <hr>
                    <h5>Booked Seat = &nbsp;<span style="padding: 0.5px 7px; background: #3fff8c"></span></h5>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th colspan="2" class="text-center">Door</th>
                            <th colspan="2"></th>
                            <th colspan="2" class="text-center">Driver</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr>
                            <td><span class="abc">4</span></td>
                            <td><span class="abc">3</span></td>
                            <td colspan="2"></td>
                            <td><span class="abc">2</span></td>
                            <td><span class="abc">1</span></td>
                        </tr>
                        <tr>
                            <td><span class="abc">8</span></td>
                            <td><span class="abc">7</span></td>
                            <td colspan="2"></td>
                            <td><span class="abc">6</span></td>
                            <td><span class="abc">5</span></td>
                        </tr>
                        <tr>
                            <td><span class="abc">12</span></td>
                            <td><span class="abc">11</span></td>
                            <td colspan="2"></td>
                            <td><span class="abc">10</span></td>
                            <td><span class="abc">9</span></td>
                        </tr>
                        <tr>
                            <td><span class="abc">16</span></td>
                            <td><span class="abc">15</span></td>
                            <td colspan="2"></td>
                            <td><span class="abc">14</span></td>
                            <td><span class="abc">13</span></td>
                        </tr>
                        <tr>
                            <td><span class="abc">20</span></td>
                            <td><span class="abc">19</span></td>
                            <td colspan="2"></td>
                            <td><span class="abc">18</span></td>
                            <td><span class="abc">17</span></td>
                        </tr>
                        <tr>
                            <td><span class="abc">24</span></td>
                            <td><span class="abc">23</span></td>
                            <td colspan="2"></td>
                            <td><span class="abc">22</span></td>
                            <td><span class="abc">21</span></td>
                        </tr>
                        <tr>
                            <td><span class="abc">28</span></td>
                            <td><span class="abc">27</span></td>
                            <td colspan="2"></td>
                            <td><span class="abc">26</span></td>
                            <td><span class="abc">25</span></td>
                        </tr>
                        <tr>
                            <td><span class="abc">32</span></td>
                            <td><span class="abc">31</span></td>
                            <td colspan="2"></td>
                            <td><span class="abc">30</span></td>
                            <td><span class="abc">29</span></td>
                        </tr>
                        <tr>
                            <td><span class="abc">36</span></td>
                            <td><span class="abc">35</span></td>
                            <td colspan="2"></td>
                            <td><span class="abc">34</span></td>
                            <td><span class="abc">33</span></td>
                        </tr>
                        <tr>
                            <td><span class="abc">40</span></td>
                            <td><span class="abc">39</span></td>
                            <td colspan="2"></td>
                            <td><span class="abc">38</span></td>
                            <td><span class="abc">27</span></td>
                        </tr>
                        <tr>
                            <td><span class="abc">44</span></td>
                            <td><span class="abc">43</span></td>
                            <td><span class="abc">46</span></td>
                            <td><span class="abc">45</span></td>
                            <td><span class="abc">42</span></td>
                            <td><span class="abc">41</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /col-lg-9 END SECTION MIDDLE -->
            <!-- ***********************************************************************************************************
            RIGHT SIDEBAR CONTENT
            **************************************************************************************** -->
            <div class="col-lg-6">
                <div class="showback">
                    <div>
                        <h3>Passangers List</h3>
                        <hr>

                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover">
                                    <thead style="background: #585a6b; color: #fff">
                                    <tr>
                                        <th scope="col">Seat #</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Cnic</th>
                                        <th scope="col">Phone</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>54501213456</td>
                                        <td>0345123</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>545012356</td>
                                        <td>03463545</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>54040434</td>
                                        <td>4534245</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
