{% extends 'base.html' %}
{%block menu-passenger_record%}active{%endblock%}
{% block submenu_search_passenger %}active{% endblock %}
{% block content %}
        <div class="row">
            <div class="col-lg-12">
                <br>
                <a href="{% url 'booking:passenger_record' %}"><button type="button" class="btn btn-primary">Search Passenger</button></a>
                <br><br>
                <div class="content-panel table-responsive">
                    <h2 class="text-center">Passenger Booking Detail</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group custom-search-form col-lg-12" style="left: 5px">
                                <input type="text" class="form-control search-daewoo" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <table class="table table-striped table-advance table-hover daewoos-table">
                        <thead>
                        <tr>
                            <th>S.No</th>
                            <th><i class="fa fa-bullhorn"></i> Name </th>
                            <th><i class="fa fa-bullhorn"></i> Ticket No </th>
                            <th><i class="fa fa-bullhorn"></i> Station </th>
                            <th><i class="fa fa-bullhorn"></i> Route </th>
                            <th><i class="fa fa-bullhorn"></i> Destination </th>
                            <th><i class="fa fa-bullhorn"></i> Departure </th>
                        </tr>
                        </thead>
                        <tbody class="daewoos-table-body">
                        {% if not bookings %}
                            <tr><td colspan="6" class="text-center">Record Not Found</td></tr>
                        {% endif %}
                        {% for booking in bookings %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="#">{{ booking.passenger.name }}</a></td>
                                <td>{{ booking.seats_no}}</td>
                                <td>{{ booking.station.name}}</td>
                                <td>{{ booking.route.name}}</td>
                                <td>{{ booking.destination.name}}</td>
                                <td>{{ booking.departure}}</td>

                                <td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

{% endblock %}