{% extends 'base.html' %}
{%block menu-passenger_record%}active{%endblock%}
{% block submenu_search_passenger %}active{% endblock %}
{% block content %}
    <div class="col-md-6">
        <br>
        <a href="#"><button type="button" class="btn btn-primary" style="float: left">All</button></a>
        <br><br><br>
        <div class="content-panel">
            <h3 class="text-center">Search Passenger </h3>
            <div class="panel-body">

                <br>
                   <label><strong>Enter CNIC / M.Card / Passport.</strong></label>
                    <input type="text" id="code" class="form-control code" name="code">
                    <span class="time" style="color: red; display: none" >This Field is Requried</span>
                    <br><br>
                    <input type="button" class="btn btn-primary btn-search" id="search" value="Search">

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        $('.btn-search').on('click', function(){
            window.location.href = '/booking/passenger/' + $('.code').val() + '/record/'
        });
    </script>
{% endblock %}