{% extends 'base.html' %}
{%block menu_reserved_stations%}active{%endblock%}
{% block submenu_add_reservation%}active{%endblock%}

{% block content %}
    <div class="col-md-6">
        <br>
        <a href="{% url 'booking:list_reservedstations' %}"><button type="button" class="btn btn-primary" style="float: left">All Reserved Stations</button></a>
        <br><br><br>
        <div class="content-panel">
            <h3 class="text-center">New Reserved Stations</h3>
            <div class="panel-body">
                <form action="{% url 'booking:add_reservedstations' %}" method="post" class="addstation" >
                    {% csrf_token %}
                    <br>
                    <label><strong>Name</strong></label>
                    <input type="text" class="form-control" id="name" name="name">
                    <span class="name" style="color: red; display: none" >This Field is Requried</span><br>
                    <label><strong>Mobile No</strong></label>
                    <input title="text" class="form-control daewoo_name" id="mobile_no" name="mobile_no">
                    <span class="fare" style="color: red; display: none" >This Field is Requried</span><br>
                    <label><strong>Station</strong></label>
                    <input type="text" class="form-control" id="station_name" name="station_name">
                    <span class="name" style="color: red; display: none" >This Field is Requried</span><br>


                     <input type="button" id="save" value="Save" class="btn btn-primary right">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{{ block.super }}

<script>
 $(document).ready(function(){
 $('#save').on('click', function () {
                var error = false;

                if ($('#name').val() == ""){
                    $('.name').show();
                    error = true;
                }
                else {
                    $('.name').hide();
                }

                if ($('#mobile_no').val() == ""){
                    $('.mobile_no').show();
                    error = true;
                }
                else {
                    $('.mobile_no').hide();
                }
                if ($('#station_name').val() == ""){
                    $('.station_name').show();
                    error = true;
                }
                else {
                    $('.station_name').hide();
                }

                if (error == false)
                {
                    $('.addstation').submit();
                }

            });
             $('#mobile_no').keyup(function () {
                $('.mobile_no').hide();
                checkDec(this);
            });
            function checkDec(el){
                var ex = /^[0-9]+\.?[0-9]*$/;
                if(ex.test(el.value)==false){
                    el.value = el.value.substring(0,el.value.length - 1);
                }
            }
             $('#name').keyup(function () {
                $('.name').hide();

            })
             $('#mobile_no').keyup(function () {
                $('.mobile_no').hide();

            })
            $('#station_name').click(function () {
                $('.station_name').hide();

            })
             })
</script>

{% endblock %}

