{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <title>SADA BAHAR</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all">
    <!--external css-->
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/zabuto_calendar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/gritter/css/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lineicons/style.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <script src="{% static 'js/chart-master/Chart.js' %}"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<section id="container" >
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><b>SADABAHAR DAEWOO </b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="{% url 'common:logout' %}">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER %}
                    <li class="mt">
                        <a class="{% block menu_dashbaord %}{% endblock %}" href="{% url 'common:index' %}">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                {% endif %}
                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER %}
                    <li class="sub-menu">
                        <a class="{% block menu_reports %}{% endblock %}" href="javascript:;">
                            <i class="fa fa-bar-chart-o"></i>
                            <span>Reports</span>
                        </a>
                        <ul class="sub">
                            <li class="{% block submenu_reports_daily %}{%endblock%}"><a  href="{% url 'common:daily_reports' %}">Daily Reports</a></li>
                            <li class="{% block submenu_reports_monthly %}{%endblock%}"><a  href="{% url 'common:monthly_reports' %}">Monthly Reports</a></li>
                        </ul>

                    </li>
                {% endif %}
                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_INCHARGE %}
                    <li class="sub-menu">
                        <a class="{% block menu_incharge_reports %}{% endblock %}" href="{% url 'common:index2' %}">
                            <i class="fa fa-bar-chart-o"></i>
                            <span>Incharge Reports</span>
                        </a>
                    </li>
                {% endif %}

                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER %}
                    <li class="sub-menu">
                        <a class="{%block menu_staff%}{%endblock%}" href="javascript:;" >
                            <i class="fa fa-user-md"></i>
                            <span>Staff</span>
                        </a>
                        <ul class="sub">
                            <li class="{% block submenu_add_driver%}{%endblock%}"><a  href="{% url 'staff:add_driver' %}">New Driver</a></li>
                            <li class="{% block submenu_list_driver%}{%endblock%}"><a  href="{% url 'staff:driver_list' %}">Drivers List</a></li>
                            <li class="{% block submenu_add_employee%}{%endblock%}"><a  href="{% url 'staff:add_employee' %}">New Employee</a></li>
                            <li class="{% block submenu_list_employee%}{%endblock%}"><a  href="{% url 'staff:list_employee' %}">Employee List</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER %}
                    <li class="sub-menu">
                        <a class="{%block menu_vehicle%}{%endblock%}" href="javascript:;" >
                            <i class="fa fa-car"></i>
                            <span>Vehicles</span>
                        </a>
                        <ul class="sub">
                            <li class="{% block submenu_add_vehicle%}{%endblock%}"><a  href="{% url 'vehicle:add_daewoo' %}">New Vehicle</a></li>
                            <li class="{% block submenu_list_vehicle%}{%endblock%}"><a  href="{% url 'vehicle:vehicle_list' %}">Vehicles List</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER %}
                    <li class="sub-menu">
                        <a class="{%block menu_route%}{%endblock%}" href="javascript:;" >
                            <i class="fa fa-road"></i>
                            <span>Add Route</span>
                        </a>
                        <ul class="sub">
                            <li class="{% block submenu_add_route%}{%endblock%}"><a  href="{% url 'route:add_route' %}">New Route</a></li>
                            <li class="{% block submenu_list_route%}{%endblock%}"><a  href="{% url 'route:list_route' %}">Route List</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER %}
                    <li class="sub-menu">
                        <a class="{%block menu_destination%}{%endblock%}" href="javascript:;" >
                            <i class="fa fa-stop"></i>
                            <span>Destination</span>
                        </a>
                        <ul class="sub">
                            <li class="{% block submenu_add_destination%}{%endblock%}"><a  href="{% url 'route:add_destination' %}">New Destination</a></li>
                            <li class="{% block submenu_list_destination%}{%endblock%}"><a  href="{% url 'route:list_destination' %}">Destinations List</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER %}
                    <li class="sub-menu">
                        <a class="{%block menu_departure%}{%endblock%}" href="javascript:;" >
                            <i class="fa fa-clock-o"></i>
                            <span>Departure Timings</span>
                        </a>
                        <ul class="sub">
                            <li class="{% block submenu_add_departure%}{%endblock%}"><a  href="{% url 'route:add_departure' %}">New Departure</a></li>
                            <li class="{% block submenu_list_departure%}{%endblock%}"><a  href="{% url 'route:list_departure' %}">Departure List</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER %}
                    <li class="sub-menu">
                        <a class="{%block menu_station%}{%endblock%}" href="javascript:;" >
                            <i class="fa fa-star-o"></i>
                            <span>Stations</span>
                        </a>
                        <ul class="sub">
                            <li class="{% block submenu_add_station%}{%endblock%}"><a  href="{% url 'route:add_station' %}">New Station</a></li>
                            <li class="{% block submenu_list_station%}{%endblock%}"><a  href="{% url 'route:list_station' %}">Station List</a></li>
                        </ul>
                    </li>
                {% endif %}


                <li class="sub-menu">
                    <a class="{%block menu_booking%}{%endblock%}" href="javascript:;" >
                        <i class="fa fa-cogs"></i>
                        <span>Booking</span>
                    </a>
                    <ul class="sub">
                        {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MUNSHI %}
                            <li class="{% block submenu_add_booking%}{%endblock%}"><a  href="{% url 'booking:create_schedule' %}">New Booking</a></li>
                            <li class="{% block submenu_reschedule%}{%endblock%}"><a  href="{% url 'booking:ticket_cancellation_form' %}">Re Schedule</a></li>
                        {% endif %}
                        <li class="{% block submenu_details_booking%}{%endblock%}"><a  href="{% url 'booking:vehicle_details_form' %}">Challan Print </a></li>
                        <li class="{% block submenu_details_cnic%}{%endblock%}"><a  href="{% url 'booking:vehicle_cnic_details_form' %}">CNIC Print </a></li>

                    </ul>
                </li>

                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER %}
                    <li class="sub-menu">
                        <a class="{%block menu_reserved_stations%}{%endblock%}" href="javascript:;" >
                            <i class="fa fa-scissors"></i>
                            <span>Reserved Stations</span>
                        </a>
                        <ul class="sub">
                            <li class="{% block submenu_add_reservation%}{%endblock%}"><a  href="{% url 'booking:add_reservedstations' %}">New Station Reservation</a></li>
                            <li class="{% block submenu_list_reservation%}{%endblock%}"><a  href="{% url 'booking:list_reservedstations' %}">Station Reservation List</a></li>
                        </ul>
                    </li>
                {% endif %}



                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER %}

                    <li class="sub-menu">
                        <a class="{%block menu-passenger_record%}{%endblock%}" href="javascript:;">
                            <i class="fa fa-reorder"></i>
                            <span>Passenger Records</span>
                        </a>
                        <ul class="sub">
                            <li class="{% block submenu_search_passenger %}{% endblock %}"><a href="{% url 'booking:passenger_record' %}">Search Passenger</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER or request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_INCHARGE %}
                    <li class="sub-menu">
                        <a class="{%block menu_users%}{%endblock%}" href="javascript:;" >
                            <i class="fa fa-users"></i>
                            <span>User Accounts</span>
                        </a>
                        <ul class="sub">
                        {% if request.user.user_profile.user_type == request.user.user_profile.USER_TYPE_MANAGER%}
                            <li class="{% block submenu_new_user%}{%endblock%}"><a  href="{% url 'common:register' %}">Create New User</a></li>
                            {% endif %}
                            <li class="{% block submenu_user_list%}{%endblock%}"><a  href="{% url 'common:list_user' %}">User List</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            {% block content %} {% endblock %}
        </section>
    </section>
    <!--main content end-->
</section>
</body>
</html>

{% block scripts %}

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'js/jquery3.js' %}"  type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.sparkline.js' %}"></script>
    <!--common script for all pages-->
    <script src="{% static 'js/common-scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gritter/js/jquery.gritter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/gritter-conf.js' %}"></script>
    <!--script for this page-->
    <script src="{% static 'js/sparkline-chart.js' %}"></script>
    <script src="{% static 'js/zabuto_calendar.js' %}"></script>

    <script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });

            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>

{% endblock %}
