<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
{#    <meta name="author" content="Dashboard">#}
{#    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">#}

    <title>Ticketing System | Partum Solutions | Business Software Solution Providers</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!--external css-->
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <style>
        .errorlist{
            display: inline-block;
            color: red;
            font-size: smaller;
            float: right;
        }
        .error-alert{
            text-align: center;
            padding-bottom: 10px;
            font-size: xx-large;
            color: red;
        }
    </style>
</head>

<body>
<div id="login-page">
    <div class="container">
        <form class="form-login" method="post" action="{% url 'common:login' %}">
            <h2 class="form-login-heading">sign in now</h2>
            <div class="login-wrap">
                {% if form.errors or form.non_field_errors %}
                    <div class="error-alert">
                        <i class="fa fa-warning pull-center"></i>
                    </div>
                {% endif %}
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div>
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <input type="text" class="form-control" placeholder="Username" name="username" autofocus>
                {% if form.errors %}
                    {{ form.errors.username }}
                {% endif %}
                <br>
                <input type="password" class="form-control" name="password" placeholder="Password">
                {% if form.errors %}
                    {{ form.errors.password  }}
                {% endif %}
{#                <label class="checkbox">#}
{#                    <span class="pull-right">#}
{#                        <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a>#}
{#                    </span>#}
{#                </label>#}
                {% if not config.demo %}
                    <label class="checkbox">
                        <span class="pull-right">
                           Not registered? <a data-toggle="modal" href="#"> Join now</a>
                        </span>
                    </label>
                {% else %}
                    <br>
                {% endif %}

                <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
            </div>
{#            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">#}
{#                <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
{#                            <h4 class="modal-title">Forgot Password ?</h4>#}
{#                        </div>#}
{#                        <div class="modal-body">#}
{#                            <p>Enter your e-mail address below to reset your password.</p>#}
{#                            <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">#}
{##}
{#                        </div>#}
{#                        <div class="modal-footer">#}
{#                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>#}
{#                            <button class="btn btn-primary" type="button">Submit</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            {% if config.demo %}
                <hr>
                <table class="table table-striped table-advance table-hover table-bordered">
                    <h3 style="text-align: center">Test Accounts</h3>
                    <thead>
                        <tr>
                            <th>User Type</th>
                            <th>Username</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Owner</td>
                            <td>demo</td>
                            <td>Dairy000</td>
                        </tr>
                    </tbody>
                </table>
                <br>
            {% endif %}
        </form>
    </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>
