{% extends 'base.html' %}
{% block menu_users %}active{% endblock %}
{% block submenu_new_user %}active{% endblock %}

{% block content %}

    <div class="col-md-6">
        <br>
        <a href="{% url 'common:list_user' %}"><button type="button" class="btn btn-primary" style="float: left">All Users</button></a>
        <br><br><br>
        <div class="content-panel">
            <h3 class="text-center">New User</h3>
            <div class="panel-body">
                <form action="{% url 'common:register' %}" method="post" class="newdaewoo" >
                    {% csrf_token %}

                    <label><strong>Username</strong></label>
                    <input type="text" class="form-control username" id="username" name="username"><br>

                    <label><strong>Password</strong></label>
                    <input type="text" class="form-control password1" id="password1" name="password1"><br>

                    <label><strong>Confirm Password</strong></label>
                    <input type="text" class="form-control password2" id="password2" name="password2"><br>

                    <label><strong>User Type</strong></label>
                    <select class="form-control user_type" id="user_type" name="user_type">
                        <option>Munshi</option>
                        <option>Manager</option>
                        <option>Incharge</option>
                    </select><br>

                    <label><strong>Route</strong></label>
                    <select class="form-control route" id="route" name="route_name">
                        {% for route in routes %}
                            <option>{{ route.name }}</option>
                        {% endfor %}
                    </select><br>
                    <input type="submit" id="save" value="Save User" class="btn btn-primary" style="float: right;">
                </form>
            </div>
        </div>
    </div>

{% endblock %}