{% extends 'base.html' %}
{% block content %}

<div class="row mt">
                <div class="col-lg-7 col-md-6 col-sm-12 col-lg-offset-1">
                  <div class="showback">
                    <form>
                      <div class="row">
                        <div class="col-md-9 col-md-offset-1">
                          <h3>Add Route and Station Fare</h3>
                          <div class="form-group">
                            <label>From</label>
                            <select class="form-control">
                              <option>--Form--</option>
                              <option>Quetta</option>
                              <option>Nushki</option>
                              <option>Mastung</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>To</label>
                            <select class="form-control">
                              <option>--To--</option>
                              <option>Quetta</option>
                              <option>Nushki</option>
                              <option>Mastung</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Set Time</label>
                            <input type="time" name="" class="form-control">
                          </div>
                          <div class="form-group">
                            <label>Select Bus</label>
                            <select class="form-control">
                              <option>--Select--</option>
                              <option>Daewoo 2x1</option>
                              <option>Daewoo 2x2</option>
                              <option>Hino Bus</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <label>Set Time</label>
                            <input type="text" name="" class="form-control">
                          </div>
                          <a class="btn btn-primary" href="#">Add</a>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

{% endblock %}