{% extends 'base.html' %}
{% block content %}

<div class="row mt">
                  <div class="col-lg-11">
                    <div class="showback">
                      <form>
                        <h3>Route And Station List</h3><hr>

                        <div class="row">
                          <div class="col-md-12">
                           <table class="table table-hover">
  <thead style="background: #585a6b; color: #fff">
    <tr>
      <th scope="col">From City</th>
      <th scope="col">To City</th>
      <th scope="col">Time</th>
      <th scope="col">Bus Type</th>
      <th scope="col">Fare</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Quetta</td>
      <td>Nushki</td>
      <td>11:00 am</td>
      <td>Daewoo 2x2</td>
      <td>200 Rs</td>
      <td><a class="btn btn-info btn-xs" href="#" title="View"
                   value="view"><i class="fa fa-eye"></i></a>
                <a class="btn btn-success btn-xs" href="#" title="Update"
                   value="update"><i class="fa fa-edit"></i></a></td>
    </tr>
    <tr>
      <td>Quetta</td>
      <td>Karachi</td>
      <td>7:00 am</td>
      <td>Daewoo 2x1</td>
      <td>1500 Rs</td>
      <td><a class="btn btn-info btn-xs" href="#" title="View"
                   value="view"><i class="fa fa-eye"></i></a>
                <a class="btn btn-success btn-xs" href="#" title="Update"
                   value="update"><i class="fa fa-edit"></i></a></td>
    </tr>
    <tr>
      <td>Quetta</td>
      <td>Lahore</td>
      <td>3:00 PM</td>
      <td>Daewoo 2x2</td>
      <td>2000 Rs</td>
      <td><a class="btn btn-info btn-xs" href="#" title="View"
                   value="view"><i class="fa fa-eye"></i></a>
                <a class="btn btn-success btn-xs" href="#" title="Update"
                   value="update"><i class="fa fa-edit"></i></a></td>
    </tr>
  </tbody>
</table>
                        </div>
                      </div>
                          {% endblock %}